<input type="submit" name="" value="Modificar todos" class="ch-btn ch-btn-skin" data-js="modifyAll">
<input type="submit" name="" value="Republicar todos" class="ch-btn ch-btn-skin ch-btn-disabled" data-js="resellAll">
<div class="filters">
    <p>Filtrar por tipo de listing: </p>
    <select>
        <option value="all">Todos</option>
        <option value="free">Gratuita</option>
        <option value="bronze">Bronce</option>
        <option value="silver">Plata</option>
        <option value="gold">Oro</option>
        <option value="goldPro">Oro Premium</option>
    </select>
</div>